In [1]:
import pandas as pd
import os

In [6]:
path = "/Users/krishnagollavilli/NLP-Customer-Support-Automation/multiwoz/data/MultiWOZ_2.1/"

# Load your cleaned dataset
df = pd.read_csv(path + "clean_multiwoz.csv")

# Filter only USER messages
df = df[df["speaker"] == "USER"].copy()

In [7]:
df

,dialogue_id,speaker,original_text,clean_text
0,SNG01856.json,USER,am looking for a place to to stay that has che...,look place stay cheap price range type hotel
2,SNG01856.json,USER,"no, i just need to make sure it's cheap. oh, a...",no need make sure cheap oh need parking
4,SNG01856.json,USER,"Yes, please. 6 people 3 nights starting on tue...",yes please 6 people 3 night start tuesday
6,SNG01856.json,USER,how about only 2 nights.,2 night
8,SNG01856.json,USER,"No, that will be all. Good bye.",no good bye
...,...,...,...,...
143038,MUL0501.json,USER,I'll be leaving from london liverpool street o...,ill leave london liverpool street tuesday need...
143040,MUL0501.json,USER,"No, I just need the price and Train ID for the...",no need price train 907 train
143042,MUL0501.json,USER,"Actually yes, I also want to find out what kin...",actually yes also want find kind boat attraction
143044,MUL0501.json,USER,I'd like the address for the Riverboat Georgin...,like address riverboat georgina please
143046,MUL0501.json,USER,"I think that's everything, thank you for your ...",think everything thank time

In [8]:
df = df.dropna(subset=["clean_text"])

In [9]:
df

,dialogue_id,speaker,original_text,clean_text
0,SNG01856.json,USER,am looking for a place to to stay that has che...,look place stay cheap price range type hotel
2,SNG01856.json,USER,"no, i just need to make sure it's cheap. oh, a...",no need make sure cheap oh need parking
4,SNG01856.json,USER,"Yes, please. 6 people 3 nights starting on tue...",yes please 6 people 3 night start tuesday
6,SNG01856.json,USER,how about only 2 nights.,2 night
8,SNG01856.json,USER,"No, that will be all. Good bye.",no good bye
...,...,...,...,...
143038,MUL0501.json,USER,I'll be leaving from london liverpool street o...,ill leave london liverpool street tuesday need...
143040,MUL0501.json,USER,"No, I just need the price and Train ID for the...",no need price train 907 train
143042,MUL0501.json,USER,"Actually yes, I also want to find out what kin...",actually yes also want find kind boat attraction
143044,MUL0501.json,USER,I'd like the address for the Riverboat Georgin...,like address riverboat georgina please
143046,MUL0501.json,USER,"I think that's everything, thank you for your ...",think everything thank time